@media only screen and (max-width: 1024px) {

    footer > section.rightPart > section,
    footer > section.FTcontainer,
    main > section.newsBoard > section,
    main > section.monitorCont > section,
    header > section.HeaderContainer {
        width: 960px;
    }


        header > section.HeaderContainer > ul:first-of-type,
        main > section.newsBoard > section > section > section.news:last-of-type,
        main > section.videos {
            display: none;
        }

        header > section.HeaderContainer > ul:last-of-type {
            position:absolute;
            right:120px;
        }


        header > section.HeaderContainer > ul.respMenu {
            display: flex;
        }

        .active {
            width:100vw !important;
        }


    
    span.respBTN {
        display: flex !important;
        z-index: 999;
    }
    span.btnact {
        padding-top:initial!important;
        align-items:center!important;
        justify-content:center!important;
        position:relative !important;
    }

    span.btnact span:nth-child(2) {
        width: 0px !important;
        
    }

        span.btnact span:first-of-type {
            transform: rotate(45deg) !important;
            position: absolute !important;
        }
    span.btnact span:last-of-type {
        transform: rotate(135deg) !important;
        position:absolute !important;
    }

        footer > section.FTcontainer > section.option {
            width:100%;
        }
        footer > section.FTcontainer > section.option:first-of-type {
            margin-bottom:29px;
        }

        footer > section.FTcontainer > section.option > p {
            width:calc(100% - 188px);
        }
}

@media only screen and (max-width: 480px) {
    footer > section.rightPart > section, 
    footer > section.FTcontainer, 
    main > section.newsBoard > section, 
    main > section.monitorCont > section, 
    header > section.HeaderContainer {
        width:420px;
    }

        main > section.newsBoard > section > section,
        main > section.newsBoard > section,
        main > section.newsBoard {
            height: auto;
        }
        main > section.newsBoard > section > section {
            flex-direction:column;
        }

        header > section.HeaderContainer > ul:last-of-type {
            right: 140px;
        }

        header > section.HeaderContainer > ul:last-of-type > li:not(:last-child) {
            display:none;
        }

            main > section.newsBoard > section > section > section.news {
                width:100%;
                height:383px;
                margin-bottom:43px;
            }
            main > section.newsBoard {
                padding-bottom: 22px;
            }
                main > section.newsBoard > section > section > section.news > figure {
                    height: 328px;
                }

                main > section.newsBoard > section > section > section.news:last-of-type {
                    display:block;
                }

    footer > section.FTcontainer > section.option {
        height:427px;
    }
        footer > section.FTcontainer > section.option > p {
            width:100%;
            margin-left:initial;
            margin-top:171px;
        }
    footer > section.rightPart {
        height:113px;
    }
        footer > section.rightPart > section {
            flex-direction: column;
            justify-content:center;
            text-align:center;
            align-items:center;

        }

            footer > section.rightPart > section p {
                margin-bottom: 23px;
            }
}